*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.3rem;
  background-color: rgb(244, 244, 244);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.btn-section {
  display: flex;
  justify-content: space-between;
  margin: 0 5em;
}

.nav-container {
  width: 15%;
  background-color: white;
}

.main {
  width: 85%;
  padding: 1em 0 1em 2em;
  border-radius: 5px;
  /* margin-top: 1.25em; */
}
